/Clases02/nbproject/private/
/Clases02/build/
/Clases02Persistencia/nbproject/private/
/Clases02Persistencia/build/
/Clase03Persistencia/nbproject/private/
/Clase03Persistencia/build/
/Clases04Relaciones/nbproject/private/
/Clases04Relaciones/build/
/Clases05JPAL/nbproject/private/
/Clases05JPQL/nbproject/private/
/Clases05JPQL/build/
/Clases05JPQL/dist/
/Clases06Jersey/nbproject/private/
/Clases06Jersey/build/
/Clases06Jersey/dist/
/Clases06RESTJersey/nbproject/private/
/Clases06RESTJersey/build/
/zql/nbproject/private/
/RESTPostYDemas/nbproject/private/
/RESTPostYDemas/build/
/RESTPostYDemas/dist/
/DemoRESTSerendipity/nbproject/private/
/DemoRESTSerendipity/build/